* {
    margin: 0;
    padding: 0;
}

body {
    background-color: deepskyblue;
}

header {
    text-align: center;
    margin: 30px;
    width: 100%;
}

header > h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    padding: 30px;
}

section {
    transform: translate(35%, 20%); 
}

label {
    font-size: 2em;
    padding-left: 20px;
    text-align: center;
}

label > img {
    display: inline;
    width: 5%;
    margin: 10px 20px;
    border-radius: 10%;
    transform: translate(10%, 50%);
    box-sizing: border-box;
}


div {
    font-size: 2em;
    text-indent: 20px;
    display: block;
    margin: 0 auto;
    

}

div > p > img {
    display: inline;
    width: 5%;
    margin: 10px 20px;
    border-radius: 10%;
    transform: translate(10%, 50%);
    box-sizing: border-box;
}

#conversor {
    display: block;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.3em;
    text-align: center;
    transform: translate(10%, 50%)
}

#conversor:hover {
    background-color: cadetblue;
    border: 1px solid darkblue;
    font-weight: bold;
    cursor: pointer;
}

button {
    display: block;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.3em;
    text-align: center;
    transform: translate(10%, 50%)
}

button:hover {
    background-color: cadetblue;
    border: 1px solid darkblue;
    font-weight: bold;
    cursor: pointer;
}